<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Dac" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net452" />
  <package id="Microsoft.SqlServer.TransactSql.ScriptDom" version="14.0.3811.1" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
</packages>